@{
    ViewData["Title"] = "SkoBingo - Not Found";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/shared/Error.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="main-div">
        <h1>Error @ViewBag.ErrorStatusCode</h1>
        <h2>@ViewBag.ErrorMessage</h2>
        <h3 class="goBackBtn" onclick="history.back()">Go back</h3>
    </div>
</body>
</html>

