@using SkoBingo.ViewModels
@model CreationViewModel

@{
    ViewData["Title"] = "SkoBingo - Creation";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/creation/index.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="main-div">
        <form asp-controller="Creation" asp-action="Create" method="post">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <label asp-for="Size"></label>
            <div class="size-input">
                <button class="size-button" type="button">
                    <i class="fa-solid fa-minus"></i>
                </button>
                <input asp-for="Size" />
                <button class="size-button" type="button">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </form>
    </div>
</body>
</html>