@using SkoBingo.ViewModels
@model CreationViewModel
@{
    ViewData["Title"] = "SkoBingo - Creation";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/creation/index.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="main-div">
        <form asp-controller="Creation" asp-action="Create" method="post">
            <label asp-for="Name"></label>
            <input asp-for="Name" required/>
            <label asp-for="Size"></label>
            <div class="size-input">
                <button id="sizeDownButton" onclick="sizeDown()" class="size-button" type="button">
                    <i class="fa-solid fa-minus"></i>
                </button>
                <input asp-for="Size" required min="1" max="10" oninput="validity.valid||(value='');"/>
                <button id="sizeUpButton" onclick="sizeUp()" class="size-button" type="button">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <button class="button button-small">Add sentences</button>
        </form>
    </div>
</body>
</html>

<script src="~/js/creation/index.js"></script>