@{
    ViewData["Title"] = "SkoBingo About";
}

@section Styles {
    <link href="~/css/home/about.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
}

    <div class="main-div">
        <div class="about-text-div">
            <p class="about-text">
                The main idea for this website is quite simple. It's based on original game of bingo, where players would mark blocks with randomly placed numbers
                and whenever someone had all blocks in a row or column marked, they would win after shouting bingo.
                In recent years people started doing those bingos for other popular people like politicians or streamers, so this website gives them ability to choose what
                they want in those blocks, and then mark each of them, one by one whenever target person says exact phrase.
            </p>
        </div>

        <div class="info-div">
            <div class="author-text">
                <p>Author</p>
                <p>Jakub Czelusta</p>
            </div>
            <a><i class="fab fa-github"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
        </div>
    </div>