@{
    ViewData["Title"] = "SkoBingo About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/home/about.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
</head>
<body>
    <div class="main-div">
        <div class="about-text-div">
            <p class="about-text">
            The main idea for this website is quite simple. It's based on original game of bingo, where players would mark blocks with randomly placed numbers
            and whenever someone had all blocks in a row or column marked, they would win after shouting bingo.
            This version gives creator ability to choose what they want in those blocks. It can be numbers or full sentences.
        </p>
        </div>

        <div class="info-div">
            <div class="author-text">
                <p>Author</p>
                <p>Jakub Czelusta</p>
            </div>
            <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</body>
</html>