@{
    ViewData["Title"] = "SkoBingo About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/home/about.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
</head>
<body>
    <div class="main-div">
        <div class="about-text-div">
            <p class="about-text">
            The main idea for this website is quite simple. It's based on original game of bingo, where you marked whenever correct number was rolled.
            I wanted to make it more customizable, so you could make bingo not only out of numbers but whole sentences. It's quite popular among fabasaes of particular 
            famous people to do bingo spreadsheets with iconic sentences/catch phrases that this person uses.
            Website is mainly result of my first semester. We had this one great profesor that was very nice and often told jokes and had his few remarkable sentences.
            Students decided to make spreadsheet for bingo with those sentences, and they would print it or it in digital program to cross/mark blocks (it was remote semester back then).
            First version if this website was actually WPF desktop application for singleplayer purpose, but I decided to make this to be able to play online with others.
            Sadly we didn't have much time with this profesor so it wasn't really used. Now it is available for everyone who wants to make their own bingo and play with friends.
        </p>
        </div>
        <div class="info-div">
            <div class="author-text">
                <p>Author</p>
                <p>Jakub Czelusta</p>
            </div>
            <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</body>
</html>