@{
    ViewData["Title"] = "SkoBingo";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/home/home.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="button-section">
        <a class="button" asp-controller="home" asp-action="index">CREATE</a>
        <a class="button" asp-controller="home" asp-action="index">PLAY WITH FRIENDS</a>
    </div>
</body>
</html>