@{
    ViewData["Title"] = "SkoBingo";
}

@section Styles {
    <link href="~/css/home/home.css" rel="stylesheet" />
}

    <div class="button-section">
        <a class="button button-large" asp-controller="creation" asp-action="index">CREATE</a>
        <a class="button button-large" asp-controller="home" asp-action="multiplayer">PLAY WITH FRIENDS</a>
    </div>