@model SkoBingo.Models.Bingo

@{
    ViewData["Title"] = "SkoBingo - Multiplayer";
    string multiPlayerLink = "";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/creation/index.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="main-div">
        <form asp-controller="home" asp-action="multiplayer" method="post">
            <input asp-for="UniqueLink" onkeyup="this.onchange()" />
            <button type="submit" class="button button-small">Play</button>
        </form>
    </div>
</body>
</html>


<script src="~/js/home/multiplayer.js"></script>