@model SkoBingo.Models.Bingo

@{
    ViewData["Title"] = "SkoBingo - Multiplayer";
}

@section Styles {
    <link href="~/css/creation/index.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
}

    <div class="main-div">
        <form asp-controller="home" asp-action="multiplayer" method="post">
            <input asp-for="UniqueLink" required onkeyup="this.onchange()" />
            <button type="submit" onclick="clearSelectedButtons()" class="button button-small">Play</button>
        </form>
    </div>

    @section Scripts {
    <script src="~/js/home/multiplayer.js"></script>
}
