@model SkoBingo.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "SkoBingo Play - " + Model.Bingo.Name;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @section Styles {
        <style type="text/css" media="only screen and (max-width: 800px)">
        @{
            var flexSize = (95 / Model.Bingo.Size + "vw").ToString();
            var width = (Model.Bingo.Size + "%").ToString();
        }
        .sentence-block {
           width: @flexSize;
           height: @flexSize;
        }
        </style>
        <style type="text/css" media="only screen and (min-width: 801px)">
        @{
            flexSize = (80 / Model.Bingo.Size + "vh").ToString();
            width = (Model.Bingo.Size + "%").ToString();
        }
        .sentence-block {
           width: @flexSize;
           height: @flexSize;
        }
        </style>
    }
    <link href="~/css/home/play.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
</head>
<body>
    <div class="main-div">
        <div id="winPrompt">
            <span class="bingoWinText">Bingo!!!</span>
            <form asp-action="Win" asp-controller="Home" method="post">
                <input asp-for="Bingo.Scoreboard.ScoreboardId" hidden/>
                <input asp-for="Bingo.UniqueLink" hidden/>
                <label asp-for="Player.Name"></label>
                <input asp-for="Player.Name" />
                <div class="buttons-row">
                    <button class="button" type="submit">Finish</button>
                    <button class="button" type="button" onclick="refresh()">New</button>
                    <button class="button" type="button" onclick="closeWinPrompt()">Close</button>
                </div>
            </form>
        </div>
        <div class="sentence-details">
            <span class="details-header">
               <a class="xmark-button" onclick=closeDetails()><i class="fa-solid fa-xmark"></i></a>

            </span>
            <i id="detailsText"></i>
        <div class="buttons-row">
            <button class="button" id="markButton" onclick="markOne()">Mark</button>
            <button class="button" onclick=closeDetails()>Close</button>
        </div>
        </div>
        <div class="sentence-div">
            @{
                int itemBlockId = 0;
            }
            @foreach (var item in Model.Bingo.Sentence)
            {
                <button id="@itemBlockId" class="sentence-block" onclick="openDetails('@item.Text', this.id)">
                    <small class="sentence-text">@item.Text</small>
                </button>
                itemBlockId++;
            }
        </div>
       <div class="buttons-row">
           <a class="button button-small" asp-controller="home" asp-action="scoreboard">Scoreboard</a>
       </div>
    </div>
</body>
</html>

<script>
    localStorage.removeItem("selectedBlocks"); //For now, will ask user if want to continue last or new
    localStorage.setItem("IgnoreScore", JSON.stringify(false));

    
    </script>

<script src="~/js/home/play.js"></script>