@model SkoBingo.Models.Bingo

@{
    ViewData["Title"] = "SkoBingo Play - " + Model.Name;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @section Styles {
        <style type="text/css" media="only screen and (max-width: 800px)">
        @{
            var flexSize = (95 / Model.Size + "vw").ToString();
            var width = (Model.Size + "%").ToString();
        }
        .question-block {
           width: @flexSize;
           height: @flexSize;
        }
        </style>
        <style type="text/css" media="only screen and (min-width: 801px)">
        @{
            flexSize = (80 / Model.Size + "vh").ToString();
            width = (Model.Size + "%").ToString();
        }
        .question-block {
           width: @flexSize;
           height: @flexSize;
        }
        </style>
    }
    <link href="~/css/home/play.css" rel="stylesheet" />
    <link href="~/css/home/home.css" rel="stylesheet" />
</head>
<body>
    <div class="main-div">
        <div class="question-details">
            <span class="details-header">
               <a class="xmark-button" onclick=closeDetails()><i class="fa-solid fa-xmark"></i></a>

            </span>
            <i id="detailsText"></i>
        <div class="buttons-row">
            <button class="button" id="markButton" onclick="markOne()">Mark</button>
            <button class="button" onclick=closeDetails()>Close</button>
        </div>
        </div>
        <div class="question-div">
            @{
                int itemBlockId = 0;
            }
            @foreach (var item in Model.Question)
            {
                <button id="@itemBlockId" class="question-block" onclick="openDetails('@item.Text', this.id)">
                    <small class="question-text">@item.Text</small>
                </button>
                itemBlockId++;
            }
        </div>
       
    </div>
</body>
</html>

<script>
    localStorage.removeItem("selectedBlocks"); //For now, will ask user if want to continue last or new
    </script>

<script src="~/js/home/play.js"></script>